/* https://github.com/SimonWaldherr/wp-osf-shownotes/blob/master/static/style_three.css 0.4.2 */

.osf_chaptertime {
  margin-left: 10px;
  font-family: monospace;
  font-weight: 300;
  font-size: 13px;
  margin-top: 2px;
}

.osf_chapterbox {
  margin-top: 7px;
  margin-bottom: 23px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.osf_chaptertime,
.osf_chapter {
  display: inline-block;
  vertical-align: text-top;
}

.osf_chaptertime {
  vertical-align: middle;
}

div a:hover { text-decoration: underline }

.osf_rss,
.osf_feed,
.osf_link,
.osf_shopping,
.osf_quote,
.osf_glossary,
.osf_podcast,
.osf_video,
.osf_wiki,
.osf_arduinocc,
.osf_amazon,
.osf_applecom,
.osf_appnet,
.osf_facebookcom,
.osf_flattr,
.osf_flattrcom,
.osf_twitter,
.osf_wikipediaorg,
.osf_youtube,
.osf_youtubecom,
.osf_googlede,
.osf_googlecom,
.osf_google,
.osf_heisede,
.osf_amazonde,
.osf_amazoncom,
.osf_paypalcom,
.osf_esaint,
.osf_dlrde,
.osf_wiktionaryorg,
.osf_deviantartcom,
.osf_podloveorg,
.osf_dropboxcom,
.osf_nytimescom,
.osf_shownotes,
.osf_githubcom,
.osf_imdbcom,
.osf_flickrcom,
.osf_tumblrcom,
.osf_threemach,
.osf_soundcloudcom,
.osf_slashdotorg,
.osf_stackoverflow,
.osf_yahoocom,
.osf_xingcom,
.osf_xenimde,
.osf_crefm,
.osf_einschlafenpodcastde,
.osf_podunioncom,
.osf_1337kulturde,
.osf_binaergewitterde,
.osf_nasagov,
.osf_diesondersendungde,
.osf_wikigeeksde,
.osf_helmholtzde,
.osf_famousprojectorg,
.osf_nsagov,
.osf_thenextwebcom,
.osf_achtungabschriftde,
.osf_auphoniccom,
.osf_creativecommonsorg,
.osf_cccde,
.osf_raspberrypiorg,
.osf_golemde,
.osf_selfcssorg,
.osf_firtzorg,
.osf_hoersuppede,
.osf_raumzeitpodcastde,
.osf_absradiode,
.osf_staatsbuergerkundepodcastde,
.osf_openstreetmapde,
.osf_openstreetmaporg,
.osf_tagesschaude,
.osf_uberspacede,
.osf_wrintde {
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 18px;
  margin-left: 4px;
  background-size: 16px 16px;
}

.osf_podcast { background-image: url('./img/bwi/podcast.png'); }

.osf_absradiode { background-image: url('./img/bwi/absradio.png' ); }

.osf_staatsbuergerkundepodcastde { background-image: url('./img/bwi/staatsbuergerkunde.png' ); }

.osf_openstreetmapde { background-image: url('./img/bwi/osm.png' ); }
.osf_openstreetmaporg { background-image: url('./img/bwi/osm.png' ); }

.osf_threemach { background-image: url('./img/bwi/threema.png'); }

.osf_deviantartcom { background-image: url('./img/bwi/deviantart.png'); }

.osf_podloveorg { background-image: url('./img/bwi/podlove.png'); }

.osf_tagesschaude { background-image: url('./img/bwi/tagesschau.png' ); }

.osf_uberspacede { background-image: url('./img/bwi/uberspace.png' ); }

.osf_dropboxcom { background-image: url('./img/bwi/dropbox.png'); }

.osf_nytimescom { background-image: url('./img/bwi/nyt.png'); }

.osf_shownotes,
.osf_shownotesorg { background-image: url('./img/bwi/shownotes.png'); }

.osf_heisede { background-image: url('./img/bwi/heise.png'); }

.osf_link { background-image: url('./img/bwi/link.png'); }

.osf_shopping { background-image: url('./img/bwi/shopping.png'); }

.osf_amazon,
.osf_amazonde,
.osf_amazoncom { background-image: url('./img/bwi/amazon.png'); }

.osf_arduinocc { background-image: url('./img/bwi/arduino.png'); }

.osf_raspberrypiorg { background-image: url('./img/bwi/raspberry.png'); }

.osf_slashdotorg { background-image: url('./img/bwi/slashdot.png'); }

.osf_rss,
.osf_feed { background-image: url('./img/bwi/rss.png'); }

.osf_googlede,
.osf_googlecom,
.osf_google { background-image: url('./img/bwi/google.png'); }

.osf_facebookcom { background-image: url('./img/bwi/facebook.png'); }

.osf_flattrcom,
.osf_flattr { background-image: url('./img/bwi/flattr.png'); }

.osf_twitter { background-image: url('./img/bwi/twitter.png'); }

.osf_wiki,
.osf_wikipediaorg,
.osf_wiktionaryorg,
.osf_glossary { background-image: url('./img/bwi/wikipedia2.png'); }

.osf_paypal.com { background-image: url('./img/bwi/paypal.png'); }

.osf_stackoverflow { background-image: url('./img/bwi/stackoverflow.png'); }

.osf_youtube,
.osf_youtubecom,
.osf_youtu.be,
.osf_video { background-image: url('./img/bwi/youtube.png'); }

.osf_applecom { background-image: url('./img/bwi/apple.png'); }

.osf_appnet { background-image: url('./img/bwi/appdotnet.png'); }

.osf_esaint { background-image: url('./img/bwi/esa.png'); }

.osf_dlrde { background-image: url('./img/bwi/dlr.png'); }

.osf_githubcom { background-image: url('./img/bwi/github3.png'); }

.osf_imdbcom { background-image: url('./img/bwi/imdb.png'); }

.osf_quote { background-image: url('./img/bwi/quote.png'); }

.osf_flickrcom { background-image: url('./img/bwi/flickr.png'); }

.osf_tumblrcom { background-image: url('./img/bwi/tumblr.png'); }

.osf_soundcloudcom { background-image: url('./img/bwi/soundcloud.png'); }

.osf_yahoocom { background-image: url('./img/bwi/yahoo.png'); }

.osf_xingcom { background-image: url('./img/bwi/xing.png'); }

.osf_xenimde { background-image: url('./img/bwi/xenim.png'); }

.osf_crefm { background-image: url('./img/bwi/cre.png'); }

.osf_einschlafenpodcastde { background-image: url('./img/bwi/einschlafen.png'); }

.osf_firtzorg { background-image: url('./img/bwi/firtz.png'); }

.osf_hoersuppede { background-image: url('./img/bwi/hoersuppe.png'); }

.osf_raumzeitpodcastde { background-image: url('./img/bwi/raumzeit.png'); }

.osf_wrintde { background-image: url('./img/bwi/wrint.png'); }

.osf_podunioncom { background-image: url('./img/bwi/podunion.png'); }

.osf_1337kulturde { background-image: url('./img/bwi/1337kultur.png'); }

.osf_binaergewitterde { background-image: url('./img/bwi/binaergewitter.png'); }

.osf_nasagov { background-image: url('./img/bwi/nasa.png'); }

.osf_diesondersendungde { background-image: url('./img/bwi/sondersendung.png'); }

.osf_wikigeeksde { background-image: url('./img/bwi/wikigeeks.png'); }

.osf_helmholtzde { background-image: url('./img/bwi/helmholtz.png'); }

.osf_famousprojectorg { background-image: url('./img/bwi/famous02.png'); }

.osf_nsagov { background-image: url('./img/bwi/nsa.png'); }

.osf_thenextwebcom { background-image: url('./img/bwi/thenextweb.png'); }

.osf_achtungabschriftde { background-image: url('./img/bwi/achtungabschrift.png'); }

.osf_auphoniccom { background-image: url('./img/bwi/auphonic.png'); }

.osf_cclicense,
.osf_creativecommonsorg { background-image: url('./img/bwi/cc.png'); }

.osf_cccde { background-image: url('./img/bwi/ccc.png'); }

.osf_golemde { background-image: url('./img/bwi/golem.png'); }

.osf_selfcssorg { background-image: url('./img/bwi/selfcss.png'); }

.osf_troll,
.osf_trollface { background-image: url('./img/bwi/trollface.png');}

.osf_revision { display: none; }
